---
ID: 15020
post_title: >
  Heart Rate Monitors For PE Improve
  Students’ Fitness Test Results
author: IHT Spirit
post_excerpt: ""
layout: post
permalink: >
  https://ihtusa.com/heart-rate-monitors-for-pe-improve-students-fitness-test-results/
published: true
post_date: 2018-05-11 09:24:41
---
<span style="font-weight: 400;">Students wearing heart rate monitors during their physical education classes achieve higher scores on their annual fitness testing.</span>

<span style="font-weight: 400;">“Being able to see their heart rate takes their effort and motivation to another level,” said Portage Central Middle School’s John Dunlop.</span><!--more-->

[caption id="attachment_15021" align="alignright" width="475"]<a href="https://ihtusa.com/wp-content/uploads/2018/05/Portage8-journal-feature.jpg"><img class="wp-image-15021" src="https://ihtusa.com/wp-content/uploads/2018/05/Portage8-journal-feature-300x161.jpg" alt="heart rate monitors" width="475" height="254" /></a> <strong><em>Portage Central Middle School students wear </em></strong>adidas<strong><em> Zone for IHT Spirit wrist heart rate monitors as they complete a kettlebell workout during their PE class.</em></strong>[/caption]

<span style="font-weight: 400;">Dunlop’s students wear</span><a href="https://ihtusa.com/zone/"><span style="font-weight: 400;"> adidas Zone for IHT Spirit</span></a><span style="font-weight: 400;"> wrist heart rate monitors during every P.E. class. In addition to actual heart rate, the Zone shows students the intensity with which they are exercising so they can achieve the maximum health benefits from the session. The results, Dunlop said, show on when he tests student fitness on the five elements of the </span><a href="http://popl.ink/LPSgMc"><span style="font-weight: 400;">Presidential Youth Fitness Program</span></a><span style="font-weight: 400;">/ FitnessGram® assessments:</span>
<ul>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Mile run,</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">PACER, or 20-meter beep test,</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">90-degree push up,</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Sit and reach</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Curl-up</span></li>
</ul>
<span style="font-weight: 400;">“Any students who get in the healthy fitness zone receive a gold award,” Dunlop said. “[Last year] We had 107 of the 230 eighth graders each that level on all five. Then, we had 19 more who exceeded the standard for the mile and PACER.”</span>

<span style="font-weight: 400;">While he’s happy with those results, he wants to see his students work harder throughout the year so even more can meet the test’s standards.</span>

<span style="font-weight: 400;">“It’s pretty easy to reach these national standards,” he said. “The goal is to have 100 percent of the students meet the time standard on the mile. I think we’re almost there.”</span>

<span style="font-weight: 400;">Dunlop and other teachers see the heart rate monitors as motivators for students to meet goals designed to improve their cardiovascular and muscular fitness. Students are tasked with exercising in their target heart rate zone for a certain amount of time each class – Portage students must be in their target zones 50 percent of the time – and see a report immediately following each session that shows them if they met their goal. Most don’t need any encouragement from the teacher to work toward that goal.</span>

<span style="font-weight: 400;">“They get a glimpse of the initial </span><a href="http://ihtusa.com/spirit-system"><span style="font-weight: 400;">bar graph</span></a><span style="font-weight: 400;"> and then you can hear them making comments to each other comparing how they did,” Dunlop said. “They motivate themselves to get as much time in the zone as they can.”</span>

<span style="font-weight: 400;">“My students have never been more motivated to ‘get in their zone’ before,” said <a href="https://ihtusa.com/students-learn-heart-rate-training-management-with-pe-technology/">Rock River Intermediate School (Wisc.) teacher Jackie Clark</a>. “While I have only been using the adidas Zone HRM for a little more than a month, my program has moved closer to greatness.”  </span>

<span style="font-weight: 400;">The motivational factor exists across all age groups. <a href="https://ihtusa.com/fit-life-utilizes-hiit-principles-in-physical-education/">Lunenberg (Mass.) High School P.E. teacher Steve Boone</a> uses the heart rate monitors with his high school students during the day and his adult P.E. students in an evening program. </span>

<span style="font-weight: 400;">“It has been an unbelievable motivational thing for them,” he said. “It pushed them. They check out their results after class. They have competitions between each other.”</span>

<span style="font-weight: 400;">The motivational factor comes from properly integrating technology that students are already familiar with into their school lives.</span>

<span style="font-weight: 400;">“</span><span style="font-weight: 400;">We have to meet young people where they are and technology integration is critical, but the key is using technology in an authentic manner,” said University of Kentucky Professor Aaron Beighle. </span>

<span style="font-weight: 400;">With data captured from the heart rate monitors and analyzed by the Spirit System assessment software, teachers continue to see that motivational connection.</span>
<h3><strong>Seeking IHT Spirit System information?</strong></h3>
[contact-form-7 id="3054" title="How'd you find us?"]

[turbo_widget widget-prefix=pw_call_to_action&obj-class=PW_Call_To_Action&widget-pw_call_to_action--text=%5Bbutton+href%3D%22ihtusa.com%2Fzone%22%5Dadidas+Zone+for+IHT+Spirit+Demo%5B%2Fbutton%5D&widget-pw_call_to_action--button_text=]